@import"../../style/Variables.scss";

.login-container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: $white;
    box-shadow: 0px 0px 3px 0.5px $grey;
    width: 40%;
    padding: 40px;
    border-radius: 3px;

    margin:auto;
    //position:absolute;
    top: 0;
    //transform: translateY(50%);
    left:0;
    right:0;
    

    h1{
        text-align: center;
        color: $orange;
    }

    form input[type=text], form input[type=password]{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid $grey;
            border-radius: 4px;
            box-sizing: border-box;
          }

    form input[type=submit] {
        width: 100%;
        background-color: $orange;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid;

        &:hover{
            background: $white;
            color: $orange;
            border: 1px solid $orange;
        }
    }
    
}

@include mediaSm{
    .login-container{
        width: 90%;
    }
}

@include mediaMd{
    .login-container{
        width: 90%;
    }
}